* {
    /* margem */
    margin: 0;
    /* espaçamento */
    padding: 0; 
    /* palavra sublinhadas */
    outline: 0;
}

body{
    font-family:'Roboto';
}

li{
    /* none = não ter bolinha */
    list-style: none;
}

.header-menu{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: darkgrey;
}

.lista-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.lista-menu li>a {
    color: #fff;
    font-size: 18px;
    text-decoration: inherit;
}

.principal{
    height: 100vh;
    display: flex;
    background-color: #fff;
}

.sub-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.nome-titulo{
    font-size: 36px;
    color: darkorchid;
    font-weight: 700;
    height: 45px;
}

.nome-profissao{
    color: blueviolet;
    line-height: 32px;
}

.texto-sobre{
    font-size: 20px;
    line-height: 32px;
}

.section-lista{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.topico-principal{
    font-size: 36px;
    color: darkgray;
}

.lista-item{
    padding: 32px;
}

.lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color: #661e4b;
    font-weight: 700;
}

.lista-local{
    font-size: 18px;
    color: #661e4b;
}

.lista-descricao{
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #661e4b;
    font-weight: 300;
}

.lista-item ul li {
    margin-bottom: 32px;


}

.portifolio{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}